/*html { 
  background: url(../images/neuralnetwork_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
  padding: 0;
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
}


.nav a {
  text-decoration: none;
  color: #aaa;
}

.nav a:hover {
  text-decoration: none;
  color: #eee;
}

.nav a:visited {
  text-decoration: none;
  color: #aaa;
}

.nav a:active {
  text-decoration: none;
  color: #aaa;
}

.maincontentwrapper a {
  text-decoration: none;
  color: #fff;
}

.maincontentwrapper a:hover {
  text-decoration: none;
  color: #ccc;
}

.maincontentwrapper a:visited {
  text-decoration: none;
  color: #ccc;
}

.maincontentwrapper a:active {
  text-decoration: none;
  color: #ccc;
}

.accordionCoursesBox a {
  cursor: pointer;
}

.page-wrapper {
  max-width:550px;
  margin-right: auto;
  margin-left: auto;
  padding:15px;
}

.page-wrapper .logo-img {
  margin-top:-10px;
}


.main {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.sidebar {
  display:inline-block;
  width:19.5%;
  vertical-align: top;
  height:100%;
  background:#4d394b;
  position:relative;
  overflow-y:scroll;
  padding-bottom:100px;
}

.sidebar .slack-name {
  background:#3E313C;
  padding:15px 0px 15px 15px;
}

.sidebar .slack-name h2{
  color:#fff;
  font-size:18px;
  font-weight:bold;
  margin-top:0px;
  margin-bottom:0px;
}

.sidebar .channel-list {
  margin-top:20px;
  background:#4d394b;
  position:relative;
}

.sidebar .channel-list .channel a{
  display:block;
  color:rgba(255,255,255,0.6);
  padding:3px 0px 3px 15px;
  width:90%;
  font-weight:300;

  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sidebar .channel-list .channel a:hover{
  text-decoration: none;
  background:#3E313C;
}

.sidebar .channel-list .channel a.selected{
  background:#4c9689;
  color:#fff;
  text-decoration: none !important;
}

.sidebar .channel-list .channel.create {
  font-style: italic;
}

.sidebar .channel-list .list-head {
  margin-top:10px;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.sidebar .my-info {
  position:fixed;
  bottom:0;
  padding:15px;
  background:#3E313C;
  width:19.5%;
}

.sidebar .my-info .user-pic {
  display: inline-block;
  vertical-align: top;
  width:44px;
  height:44px;
  border-radius:4px;
}

.sidebar .my-info .user-info {
  padding-left:5px;
  display: inline-block;
  vertical-align: top;
}

.sidebar .my-info .user-info .user-name {
  color:#fff;
  font-size:16px;
  font-weight:bold;
}

.sidebar .my-info .user-info .options {
  color:#999;
  font-size:12px;
}

.sidebar .my-info .user-info .options a{
  color:#999;
  font-size:12px;
}

.sidebar .presence {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #ab9ba9;
  vertical-align: middle;
}

.sidebar .presence.online {
  background: #99d04a;
}

.message-pane {
  display:inline-block;
  vertical-align: top;
  height:100%;
  width:80%;
  overflow-y:scroll;
  padding:55px 15px 65px 15px;
}

.message-pane .header {
  position:fixed;
  top:0;
  background:#fff;
  width:100%;
  z-index:2;
}

.message-pane .header h1 {
  padding:12px 0 10px 0;
  margin-top:0px;
  margin-bottom:0px;
  font-size:24px;
  color:#555459;
  font-weight:900;
}

.message-pane .message-form {
  position:fixed;
  bottom:0;
  padding:0 15px 15px 0;
  background:#fff;
  width:79%;
}

.message-pane .message-wrap {
  position:relative;
  margin-top:15px;
}

.message-pane .message-wrap .user-pic {
  width:36px;
  height:36px;
  border-radius:4px;
  display: inline-block;
  vertical-align: top;
}

.message-pane .message-wrap .message-info {
  display: inline-block;
  vertical-align: top;
  padding-left:5px;
}

.message-pane .message-wrap .message-info .user-name {
  color:#555459;
  font-weight:900;
}

.message-pane .message-wrap .message-info .user-name span{
  color:#ccc;
  font-weight: normal;
  font-size:10px;
}

.accordionbutton {
  width: 80px;
}

.accordionContainer {
  margin-bottom: 50px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px 5px;
  /*box-shadow: 1px 1px 5px #888;*/
}
.accordionStepTitle {
  /*color: #2390EA;*/
  color: #fff;
  opacity: 50%;
}

.accordionStepBox {
  background-color: #4A4A4A;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
}

.accordionCoursesBox {
  padding: 10px 10px 20px 10px;  
}

.accordionCoursesText {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1.2em;
  color: #999;
}

.accordionStepContainer {
  margin-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px dotted #ccc;
}
.accordionShuffleBox {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.accordion {
  padding-bottom: 5px;
}

.profileImage {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-top: 5px;
  border: 3px solid #bbb;
}
.profilePageImage {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.buildbutton {
  margin-right: 30px;
  font-size: 1.0em;
}

.profileName {
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 30px;
  font-size: 1em;
}

.homeimagebox {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -10;
}

.homeimage {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.profileHeader {
  margin-top: -40px;
}
.homecontentbox {
  color: #eee;
  margin: 6% 0;
}
.loginformbox {
  width: %;
  text-align: center;
}
.maincontentwrapper {
  color: #fff;
  margin: 1% 10%;
  padding: 0 10%;
  padding-top:70px;
}
.hometitle {
  padding: 5px 5px 15px 5px;
}
.mainvideowrapper {
  color: #fff;
  margin: 10% 10%;
  padding-bottom: 80px;
}
.signupcontentwrapper {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-top: -50px;
}
.hometitle {
  padding: 5px 5px 15px 5px;
  /*background-color: rgba(0,0,0,0.2)*/
}
.homepagewrapper {
  color: #fff;
  height: 200%;
  min-height: 200%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.frontdoorwrapper {
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-width: 550px;
  margin: 0 auto;
}
.frontdoorwrapper h3 {
  padding-bottom: 15px;
}
.frontdoorwrapper h4 {
  padding-bottom: 15px;
  padding-top: 10px;
}
.pwdResetInputbox {
  margin: 10px 0;
}
.maincontentwrapper h1 {
  padding-bottom: 10px;
}
.whiten {
  color: #eee;
  font-weight: bold;
}
.missionsequence {
  text-align: right;
  color: #aaa;
  font-size: 0.8em;
  
  top:-15px;
  right: 20px;
}
.mainpagemenu {
  padding-right: 15px;
}

#code-editor { 
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 300px;
  margin-bottom: 5px;
  border-radius: 3px;
}
#result {
  /*background-color: #aaa;*/
  position: relative;
  
}
.nextbotton{
  margin-top: 10px;
}

/*----------------------------------------------------------*/
/*                       Style Classes                      */
/*----------------------------------------------------------*/
.missiontitle{
  /*margin-left: 20px;*/
  padding-top: 10px;
}

.element-correct{  
  padding:5px;
  border-color: rgba(0, 255, 0, 0.3);
  border-width: 15px;
  border-style: outset;

}
.element-question{
  padding:5px;
  border-color: rgba(255, 255, 0, 0.3);
  border-width: 15px;
  border-style: outset;
}

img{
  border-radius: 6px;
}

.element-images {
  max-width: 700px;
  padding-bottom:2em;
  margin: 0 auto;
}
.element-code {
  text-align: left;
}
.element-images img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.missionlocator {
  color: #999;
  font-size: 1em;
  padding-top: 1em;
}
.missionlocatorcurrentshuffle {
  font-weight: bold;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.chart {
  max-width: 100%;
  max-height:100%;
}

.top-buffer { 
  margin-top:20px; 
}

.element-video { 
  max-width: 600px;
  margin: 20px 0;
}
.element-video iframe {
  
}
.welcomebox {
  background-color: #E9E9E9;
  /*background-color: #393939;*/
  margin: 0 -40px;
  /*padding-top: 20px;*/
  padding-bottom:20px;
  /*margin-bottom: 20px;*/
}
.tempdiv {
  /*background-color: #fff;*/
}
.progress {
  margin-top: -5px;
}
.currentLessonBox {
  /*background-color: #aaa;*/
  border-radius: 5px;
  background-color: #fff;
  border: 8px solid #898989;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.lastLessonBox {
  /*background-color: #aaa;*/
  border-radius: 5px;
  background-color: #fff;
  border: 8px solid #898989;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.lessonBox:hover {
  border: 8px solid #4A4A4A;
}
.homemaincontent {
  margin-bottom: 100px;
}
.teaminfoimage {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid #eee;
  margin: 0 auto;
  display: block;
}
.teaminfowrapper {
  margin: 0 0;
  background-color: rgba(0,0,0,0.3);
  padding-top: 100px;
  padding-bottom: 200px;
}
.techstackwrapper {
  margin: 200px 0;
  background-color: rgba(0,0,0,0.3);
  padding-top: 30px;
  padding-bottom: 50px; 
}
.teaminfocontent {
  padding-bottom: 50px;
  text-align: center;
}
.teaminfocontent a {
  color: #eee;
}
.techstackimage {
  width: 100%;
  height: auto;
  max-width: 1024px;
  margin: 0 auto;
  display: block;
}
.teaminfoimagebox {
  padding-bottom: 20px;
}
.roletag {
  font-size: 1em;
  font-style: italic;
  font-color: #ddd;
}
/*----------------------------------------------------------*/
/*                       Ace Style Classes                  */
/*----------------------------------------------------------*/

.ace_editor { height: 200px; }


/*----------------------------------------------------------*/
/*                       test                               */
/*----------------------------------------------------------*/
.tutorial-list > li {

}
