<div class="container-fluid">
  <!-- header -->
  <div app-header></div>
  
  <!-- main content -->
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h3 class="text-center">
            Learn Neural Networks
            <div>
              from your browser!
            </div>
          </h3>
          <p class="text-center">
            Sign up and start learning now
          </p>

          <div ng-show="authCtrl.error">
            <span>{{ authCtrl.error.message }}</span>
          </div>

          <form ng-submit="authCtrl.register()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Full Name" ng-model="authCtrl.user.fullname">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password">
            </div>
            <input type="submit" class="btn btn-lg btn-block" value="Create Account">
          </form> 
          <p class="text-center top-buffer">
            Or sign up with your Google or Facebook account
          </p>
          <button type="button" ng-click="authCtrl.loginWithGoogle();" class="btn btn-lg btn-block btn-danger top-buffer">
            Google+
          </button> 
          <button type="button" ng-click="authCtrl.loginWithFacebook();" class="btn btn-lg btn-block btn-primary">
            Facebook
          </button>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>