<div class="container-fluid">
  <!-- header -->
  <div app-header></div>

  <!-- main content -->
  <div class="container">

    <div class="row">
      <h2 class="text-center">
          Welcome<span>, {{accordionCtrl.currentUser.displayName}}</span>
      </h2>
      <div class="col-md-4 col-sm-3 col-xs-1">
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <h3 class="text-center">
          Your current lesson is {{accordionCtrl.currentUser.currentLesson}}
        </h3>
        <button ui-sref="mission({ courseName: accordionCtrl.currentUser.currentShuffle })" type="button" class="btn btn-default btn-block">
          Continue
        </button>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-1">
      </div>
    </div>

    <div class="row">
      <br />
      <p class="text-center">or choose a specific lesson from below.</p>
      <h2 class="text-center">Lesson</h2>
      <h3 class="text-center">Neural Network</h3>
      <br/>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">


    <div class="accordionContainer" ng-repeat="(step, courses) in accordionCtrl.track">
      <div class="accordionStepBox">
        <h4 class="accordionStepTitle">Step {{$index+1}}: {{step}}</h4>
        <!-- <span>Summary: {{step.summary}}</span> -->
      </div>
      <div class="accordionCoursesBox">
        <div class="accordionCoursesText">Available Courses</div>

        <uib-accordion close-others="false">
            
          <div class="accordion" ng-repeat="(course, shuffles) in courses">
            <uib-accordion-group heading="{{course}}" is-open="false">
              <div ng-repeat="(shuffle, ele) in shuffles">
                <div ng-click="accordionCtrl.updateUserPosition(shuffle)" ui-sref="mission({ courseName: shuffle })" class="accordionShuffleBox">
                  {{$index+1}}. <a>{{shuffle}}</a>
                </div>
              </div>
              <br/>
            </uib-accordion-group>
          </div>

        </uib-accordion>

      </div>
    </div>

    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

