<div class="container-fluid">
  <!-- header -->
  <div app-header></div>

  <!-- main content -->
  <div class="container">
    <div class="row">
      <h2 class="text-center">Lesson</h2>
      <h3 class="text-center">{{accordionCtrl.track.title}}</h3>
      <br/>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">

    <!-- {{accordionCtrl.suffle}} -->
    <!-- {{accordionCtrl.lesson}} -->
    <!-- {{accordionCtrl.steps}} -->
    <!-- {{accordionCtrl.track}} -->

    <div class="accordionContainer" ng-repeat="(step, courses) in accordionCtrl.track">
      <div class="accordionStepBox">
        <h4 class="accordionStepTitle">Step {{$index+1}}: {{step}}</h4>
        <span>Summary: {{step.summary}}</span>
      </div>
      <div class="accordionCoursesBox">
        <div class="accordionCoursesText">Available Courses</div>

        
        <uib-accordion close-others="accordionCtrl.oneAtATime">
          
          <div class="accordion" ng-repeat="(course, shuffles) in courses">
            <uib-accordion-group heading="{{course}}">
              <div ng-repeat="(shuffle, ele) in shuffles">
                <div class="accordionSuffleBox">
                  {{$index+1}}. {{shuffle}} 
                </div>
              </div>
              <br/>

              <button ui-sref="mission({ trackName: 'Track', stepName: 'step1', courseName: 'course1' })" class="btn btn-default accordionbutton">Start</button>

            </uib-accordion-group>
          </div>
        </uib-accordion>
      </div>
    </div>

    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

