<div class="container-fluid">
  <!-- header -->
  <div app-header></div>

  <!-- main content -->
  <div class="container">

    <div class="row">
      <h2 class="text-center">
          Welcome<span>, {{accordionCtrl.currentUser.displayName}}</span>
      </h2>
      <div class="col-md-4 col-sm-3 col-xs-1">
      </div>
      <div class="col-md-4 col-sm-6 col-xs-10">
        <h3 class="text-center">
          Your current lesson is {{accordionCtrl.currentUser.currentLesson}}
        </h3>
        <button ui-sref="mission({ courseName: accordionCtrl.currentUser.currentLesson })" type="button" class="btn btn-default btn-block">
          Continue
        </button>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-1">
      </div>
    </div>

    <div class="row">
      <br />
      <p class="text-center">or choose a specific lesson from below.</p>
      <h2 class="text-center">Lesson</h2>
      <h3 class="text-center">Neural Network</h3>
      <br/>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">


    <div class="accordionContainer" ng-repeat="(step, courses) in accordionCtrl.track">
      <div class="accordionStepBox">
        <h4 class="accordionStepTitle">Step {{$index+1}}: {{step}}</h4>
        <!-- <span>Summary: {{step.summary}}</span> -->
      </div>
      <div class="accordionCoursesBox">
        <div class="accordionCoursesText">Available Courses</div>

        
        <uib-accordion close-others="accordionCtrl.oneAtATime">
          
          <div class="accordion" ng-repeat="(course, shuffles) in courses">
            <uib-accordion-group heading="{{course}}">
              <div ng-repeat="(shuffle, ele) in shuffles">
                <div class="accordionSuffleBox">
                  {{$index+1}}. {{shuffle}} 
                </div>
              </div>
              <br/>

              <button ui-sref="mission({ courseName: course })" class="btn btn-default accordionbutton">Start</button>

            </uib-accordion-group>
          </div>
        </uib-accordion>
      </div>
    </div>

    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

