<div class="container-fluid">
  <!-- header -->
  <div app-header></div>  
  <div class="homeimagebox">
    <img class="homeimage" src="images/neuralnetwork_background_dark.jpg" alt="">
  </div>
</div>

<div class="row homepagewrapper">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row homemaincontent">
      <div class="hometitle">
        <h1 class="text-center">Learn Neural Networks from your Browser</h1>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="mainvideowrapper">
          <h3 class="text-center">What is a neural network?</h3>
          <p class="text-center">"Neural networks are mathematical models that can exhibit many remarkable behaviors, such as the ability to learn based on experience."</p>
          <div class="frontdoorwrapper">
            <div class="embed-responsive embed-responsive-16by9">  
              <nq-youtube class="embed-responsive-item" nq-videoid="authCtrl.nqVideoId"></nq-youtube>
              <!-- <youtube-video class="embed-responsive-item" video-url="authCtrl.frontDoorVideo"></youtube-video> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="maincontentwrapper">
          
          <h3 class="text-center">Login and Continue Learning</h3>
          <br />
          <div ng-show="authCtrl.error">
            <span>{{ authCtrl.error.message }}</span>
          </div>

          <div class="loginformbox col-centered">
            <form ng-submit="authCtrl.login()">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password">
              </div>
              <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log In">
            </form> 
          
          <p class="text-center top-buffer">
            Or sign in with your Google or Facebook account
          </p>
          <a class="btn btn-social btn-google btn-lg btn-block" ng-click="authCtrl.loginWithGoogle();">
            <span class="btn-block fa fa-google"></span> Sign in with Google
          </a>
          <a class="btn btn-social btn-facebook btn-lg btn-block" ng-click="authCtrl.loginWithFacebook();">
            <span class="fa fa-facebook"></span> Sign in with Facebook
          </a>
          <br />
          </div>
          <a href="#" ui-sref="signup" ng-click="authCtrl.loginBtnToggle();"><h4 class="text-center top-buffer">Create an account</h1></a>
          <a href="#" ui-sref="resetPwd" ng-click="authCtrl.loginBtnToggle();"><h4 class="text-center top-buffer">Forgot your password?</h1></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row homepagewrapper teaminfowrapper" id="teaminfo">
  <div ng-include="'auth/teaminfo.html'" class="hometeaminfo"></div>
</div>
<div class="row homepagewrapper techstackwrapper" id="techstack">
  <div ng-include="'auth/techstack.html'" class="hometechstack"></div>
</div>

