<div app-header></div>

<div class="container-fluid">
  <div class="row">

    <!-- Shuffle Title -->
    <h3> {{ missionCtrl.title }} </h3>

    <!-- ng repeat -->
    <div class="col-md-12" ng-repeat="element in missionCtrl.elements" ng-if="(element.sequence<=currentSequence)">
      <!-- Switch to check type and display accordingly -->
      <div ng-switch on="element.type">

        <div ng-switch-when="text" class="element-text">
          <h3> {{ element.title }} </h3>
          <div ng-bind-html="element.content"></div>
        </div>

        <div ng-switch-when="image" class="element-images">
          <img style="width: 500px; height: 300px; display: block" ng-src=" {{element.url}} " />
        </div>

        <div ng-switch-when="video" class="element-video">
          <p> {{ element.mediaUrl }} (will be iFrame) </p>
        </div>

        <div ng-switch-when="code" class="element-code">
          <pre> {{ element.content }} </pre>
        </div>

        <div ng-switch-when="code" class="element-code">
          <ul>{{ element.content }}</ul>
        </div>

        <div ng-switch-when="question" class="element-question">
          <p> {{ element.prompt }} </p>
          <p></p>
          <p> {{ element.answer }} </p>
          <button class="btn btn-default btn-large" ng-click="missionCtrl.saveShuffle( element.sequence )">Continue</button>
        </div>

        <div ng-switch-when="code-editor" class="element-code-editor">
          <div ng-model="missionCtrl.aceContent" ui-ace="{
                        useWrapMode : true,
                        showGutter: true,
                        theme:'monokai',
                        mode: 'javascript',
                        firstLineNumber: 1,
                        advanced: {
                            fontSize: 44
                          }
                       }"></div>
          <button class="btn btn-default btn-large" ng-click="missionCtrl.saveShuffle( element.sequence )">Continue</button>
        </div>

        <div ng-switch-when="list" class="element-list">
          <ul>{{ element.content }}</ul>
        </div>

    </div>
  </div>
</div>
