<div app-header></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="missionlocator">
        <p><a ui-sref="accordion">{{missionCtrl.elements[missionCtrl.sequence].step}}</a> > {{missionCtrl.elements[missionCtrl.sequence].course}} <span class="missionlocatorcurrentshuffle">> {{missionCtrl.elements[missionCtrl.sequence].shuffle}}</span></p>
      </div>
      <h2 class="missiontitle"> {{ missionCtrl.title }} </h2>
      <!-- ng repeat -->
      <!-- <div class="col-md-1"></div> -->
      <div ng-repeat="element in missionCtrl.elements">
        <!-- Shuffle Title -->
        <!-- Switch to check type and display accordingly -->
        <div ng-switch on="element.type">
          <p class="missionsequence" ng-show="missionCtrl.isAdmin() && missionCtrl.isBuildMode()">{{ element.sequence }}</p>
          <div ng-switch-when="text" class="element-text">
            <h3 class="title"> {{ element.title }} </h3>

            <div ng-bind-html="element.content"></div>
          </div>

          <div ng-switch-when="image" class="element-images">
            <img style="max-width:100%, max-height:100%" style="" ng-src=" {{element.url}} " />
          </div>

          <div ng-switch-when="video" class="element-video">
            <div class="embed-responsive embed-responsive-16by9 video-inner">
            <nq-youtube class="embed-responsive-item" nq-videoid="element.url"></nq-youtube>
            </div>
          </div>

          <div ng-switch-when="code" class="element-code">
            <nq-prism class="language-javascript"> {{ element.content }} </nq-prism>
          </div>

          <div ng-switch-when="question" ng-class="{'element-question': (element.answer.correct !== answerResponse), 'element-correct': (element.answer.correct === answerResponse)}">

            <div>
              <form name="form" class="css-form" novalidate>
                <p> {{ element.prompt }} </p>
                Answer:
                <br />

                <input type="radio" ng-model="answerResponse" ng-change='missionCtrl.multipleChoiceChecker(element.answer.correct === answerResponse)' value="a" />  {{ element.answer.a }}
                <br />
                <input type="radio" ng-model="answerResponse" ng-change='missionCtrl.multipleChoiceChecker(element.answer.correct === answerResponse)' value="b" />  {{ element.answer.b }}
                <br />
                <input type="radio" ng-model="answerResponse" ng-change='missionCtrl.multipleChoiceChecker(element.answer.correct === answerResponse)' value="c" ng-show="element.answer.c" />  {{ element.answer.c }}
                <br />
                <input type="radio" ng-model="answerResponse" ng-change='missionCtrl.multipleChoiceChecker(element.answer.correct === answerResponse)' value="d" ng-show="element.answer.d" />  {{ element.answer.d }}
                <br />
              </form>

              <code ng-show="answerResponse && element.answer.correct !== answerResponse">Try Again!</code>
              <code ng-show="answerResponse && element.answer.correct === answerResponse">Great Job!</code>

            </div>

          </div>

          <div ng-switch-when="code-editor">
            <pre ng-show="element.description">{{ element.description }}</pre>
            {{ missionCtrl.initEditor(element.prompt) }}
            <div id="code-editor" class="codeeditorbox"></div>
            <div id="result" ng-show="missionCtrl.codeResult">
            </div>
            <toaster-container toaster-options="{'position-class':'toast-bottom-full-width'}"></toaster-container>
            <button class="btn btn-primary btn-sm" ng-click="missionCtrl.run(element.testCase, element.handling, element.route)">Run</button>
            <button class="btn btn-warning btn-sm" ng-click="missionCtrl.reset(element.prompt)">Reset</button>
            <button class="btn btn-danger btn-sm" ng-click="missionCtrl.showCodeAnswer(element.answer)">Show Answer</button>
            <br />
          </div>

          <div ng-switch-when="list" class="element-list">
            <ul>{{ element.content }}</ul>
          </div>

          <div ng-switch-when="line-graph" class="element-line-graph">
            <h3 class="title">{{ element.title }}</h3>
         
            <canvas id="line" class="chart chart-line" chart-data="element.data"
              chart-labels="element.labels" chart-legend="true" chart-series="element.series" chart-click="lineCtrl.onClick">
            </canvas> 
 
          </div>

        </div>
      </div><!-- END ng-repeat -->
      <button ng-show="!missionCtrl.gate.gateNeededEleNum" class="nextbotton btn btn-default btn-large" ui-sref="mission({ courseName: missionCtrl.nextShuffle })" ng-click="missionCtrl.saveElement( missionCtrl.sequence, missionCtrl.elements[missionCtrl.sequence].step )">Next Lesson</button>
    </div>
  </div>
</div>
