
<!DOCTYPE html>
<html>
<head>
  <title>Challenge</title>
  <link href="/assets/application-357aa23f744a845b26c79d389da3a125.css" media="all" rel="stylesheet" />
  <meta content="authenticity_token" name="csrf-param" />
<meta content="ZqT88Jv/YSI/+FdvmgIbdnYYcpJ32CbPEd816bHlnjo=" name="csrf-token" />
</head>
<body>

<!-- Ajax Loader, taken from http://loading.io/ -->
<div class="ajax-loader" style="display: none;-webkit-transform:scale(0.6)"><div></div></div>

<div class="app">
  <header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul class="navigation-menu">
        <li class="nav-link"><a href="/">MakerSquare Challenges</a></li>
      </ul>
    </div>
    <div class="nav right">
        <ul class="navigation-menu">
          <li class="nav-link more">
            <a href="#">
              <div class="avatar"><img alt="6581448?v=3" src="https://avatars.githubusercontent.com/u/6581448?v=3" /></div>
              <span>Peter Juhwan Park</span>
            </a>
            <ul class="submenu">
              <li><a data-method="delete" href="/sessions" rel="nofollow">Sign out</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</header>


  <div class="app-content"><div class="challenge">
  <div class="description">
    <h1>Character Frequency</h1>

    <div class="bdd-test-results" style="display: none"></div>

    <div class="stack-trace alert error" style="display: none">
      <h3>Code Error:</h3>
      <div class="content"></div>
    </div>

    <div class="challenge-description-text">
      <p>Write a function that takes as its input a string and returns an array of arrays as shown below sorted in descending order by frequency and then by ascending order by character.</p>

    </div>


      <h3>You've got Helpers! <small>(click to view code)</small></h3>




      <h3>Examples</h3>

      <table class="examples">
        <thead>
          <th>Input</th>
          <th>Output</th>
        </thead>
        <tbody>
            <tr>
              <td class="input"><b>string:</b><br />"aaabbc"</td>
              <td class="output">[
  [
    "a",
    3
  ],
  [
    "b",
    2
  ],
  [
    "c",
    1
  ]
]</td>
            </tr>
            <tr>
              <td class="input"><b>string:</b><br />"mississippi"</td>
              <td class="output">[
  [
    "i",
    4
  ],
  [
    "s",
    4
  ],
  [
    "p",
    2
  ],
  [
    "m",
    1
  ]
]</td>
            </tr>
            <tr>
              <td class="input"><b>string:</b><br />""</td>
              <td class="output">[

]</td>
            </tr>
        </tbody>
      </table>
  </div>

  <div class="editor">
    <nav>
      <button class="submit success">Submit Code</button>
      <span class="see-other-answers" style="">
        - Solved! <a href="/c/619b43dbf94ddfcea714d2b28c8b6c93/answers">View other answers</a>
      </span>
    </nav>
    <div class="code-editor" id="code-editor">function characterFrequency (string) {
  var string = string.slice(0);
  var obj = {};
  var result = [];

  for(var i=0; i&lt;string.length; i++){
    if(obj[string[i]]){
      obj[string[i]] += 1;
    } else {
      obj[string[i]] = 1;
    }
  }
  
  for(var key in obj){
    result.push([key, obj[key]]);
  }
  console.log(result);
  result.sort(function(a,b){
    if(a[1] &gt; b[1]) return -1;
    else if (a[1] &lt; b[1]) return 1;
    else if (a[0] &lt; b[0]) return -1;
    else if (a[0] &gt; b[0]) return 1;
  });

  return result
}</div>
  </div>
</div>

<script type="text/template" class="template error-result">
  You have a bug!<br />
  <table>
    <thead>
      <th>Input Name</th>
      <th>Value</th>
    </thead>
    <tbody>
      <% for (var i=0; i < inputNames.length; i += 1) { %>
        <tr><td><%= inputNames[i] %></td><td><%= testCase.inputs[i] && JSON.stringify(testCase.inputs[i]).maybeReplace(/\\n/g, "<br />") %></td></tr>
      <% } %>
    </tbody>
  </table>
  <table>
    <thead>
      <th>Expected Output</th>
      <th>Your Output</th>
    </thead>
    <tbody>
      <tr><td><%= JSON.stringify(testCase.expected).maybeReplace(/\\n/g, "<br />") %></td><td><%= JSON.stringify(testCase.actual).maybeReplace(/\\n/g, "<br />") %></td></tr>
    </tbody>
  </table>
</script>

<script type="text/template" class="template bdd-result">
  <div class="bdd-result flash <%= (status === 'passed') ? 'success' : 'error' %>">
    <h6><%= fullName %></h6>
    <% for (var i=0; i < failedExpectations.length; i++) { %>
      <p>
        <%= failedExpectations[i].message %>
        <br />
        <ul>
          <%= failedExpectations[i].stack.map(function(line) {
            return '<li>' + escapeHTML(line) + '</li>';
          }).join('') %>
        </ul>
      </p>
    <% } %>
  </div>
</script>

</div>
</div>

<script type="text/javascript">
  var g = {
    authToken: "ZqT88Jv/YSI/+FdvmgIbdnYYcpJ32CbPEd816bHlnjo="
  }
</script>
  <script src="/assets/application-7d9a66838a64e787c5686a303d1350b0.js"></script>
      <script type="text/javascript">
      $(document).on('click', '.code-helper h4', function(e) {
        $(this).next().toggle()
      })
      </script>
<script type="text/javascript">
(function () {
  String.prototype.maybeReplace = String.prototype.replace
  var shouldReplace = false
  if (!shouldReplace) {
    String.prototype.maybeReplace = function () { return this }
  }
  // Data from the server
  var functionName = "characterFrequency";
  var testInputs = [["yzbzy"],["aaabbc"],["mississippi"],["popopo"],[""],["supercalifragilisticexpialidocious"],["popopop"]];
  var solvePath = "/c/619b43dbf94ddfcea714d2b28c8b6c93/solve";
  var helpers = [];
  var testType = "euler";
  var codeId = "7be46de0165a_619b43dbf94ddfcea714d2b28c8b6c93";

  // The editor
  var editor = ace.edit("code-editor");
  editor.getSession().setMode("ace/mode/javascript");
  editor.setOptions({ tabSize: 2 });

  //if localstorage code, update the editor
  if (localStorage.getItem(codeId)) {
    editor.setValue(localStorage.getItem(codeId), 0);
    editor.clearSelection();
  }

  //for every editor modification, update localstorage
  editor.on('change', function(data){
    localStorage.setItem(codeId, editor.getValue());
  });

  // Stack trace ( until needed)
  $stackTrace = $('.stack-trace');

  // Code submittion dance
  var logFn = function log () {
    postMessage({ debug: Array.prototype.slice.call(arguments) });
  };
  var wrapCode = function (code) {
    var result = "var console={}; console.log = " + logFn.toString().replace(/\n/g,'') + ";"
    result     += code + ";\ntry {";
    result     += "\nvar _testCaseCounter = 0;";

    if (helpers.length) {
      result += helpers.join(';') + ';';
    }

    for (var i = 0; i < testInputs.length; i += 1) {
      if (testType === 'bdd') {
        result += wrapSpec(testInputs[i], i);
      }
      else {
        result += "postMessage({ answer: " + functionName +".apply(null,"+ JSON.stringify(testInputs[i]) +") });\n";
      }
      result += "\n_testCaseCounter += 1;\n"
    }
    result +=
    "} catch (e) {" +
      "var trace = printStackTrace({e: e});" +
      "postMessage({ error: { name: e.name, message: e.message, testCaseIdx: _testCaseCounter}, trace: trace });" +
    "}";

    if (testType !== 'bdd') {
      result += "; postMessage('__terminate__');\n";
    }
    return result;
  };

  var displayResult = function (result) {
    if (result.isCorrect) {
      sweetAlert({
        title: "Great job!",
        text: "You solved the challenge!",
        type: "success",
      }, function () {
        $('.see-other-answers').fadeIn(2500)
      });
    }
    else if (testType === 'bdd') {
      sweetAlert("Uh oh...", "The server threw an unknown error :(");
    }
    else {
      // Console log result
      console.log("\n----\nInputs:");
      for (var i=0; i < result.inputNames.length; i += 1) {
        console.log(result.inputNames[i].toString() + ":", JSON.stringify(result.testCase.inputs[i]));
      }
      console.log("Expected:", result.testCase.expected);
      console.log("Your output:", result.testCase.actual);
      // Display result in modal
      var message = tmpl($('.template.error-result').html(), result);
      sweetAlert("Oops...", message, "error");
    }
  };

  $('.challenge .editor').on('click', 'nav .submit', function (e) {
    e.preventDefault();
    $stackTrace.hide();
    $('.bdd-test-results').empty();
    $('.ajax-loader').show();
    $('.challenge > .description').scrollTop(0);

    var code = editor.getValue();
    var wrappedCode = wrapCode(code);
    var scripts = challengeRunnerDeps.slice()
    scripts.push( 'data:application/javascript,' + encodeURIComponent(wrappedCode) )

    var answers = [];
    var sandbox = $.sandbox({
      timeout: (testType === 'bdd') ? 8000 : 5000,
      url: '/sandbox.html',
      scripts: scripts,
      callback: function(data, error) {
        // console.log('Got message:', data, error);

        if (error === 'timeout') {
          this.terminate(); $('.ajax-loader').hide();
          console.log("Timeout.", data, answers);
          var msg = "Your code took too long to run and timed out";
          sweetAlert("Timeout!", msg + ".");
          if (testType === 'bdd') {
            $('.bdd-test-results').append('<div class="bdd-result flash error">Code timed out.</div>');
          }
        }
        else if (error !== undefined) {
          this.terminate(); $('.ajax-loader').hide();
          console.log("UNKOWN ERROR:", error);
          sweetAlert("Oops...", "Your code threw an unknown error D:");
        }
        else if (data === '__terminate__'){
          this.terminate(); $('.ajax-loader').hide();
          if (answers.length === 0) {
            return sweetAlert("Oops...", "Your function did not return anything!", "error");
          }
          else if (testType === 'bdd' && countIncorrect(answers) > 0) {
            sweetAlert("Error!", "Your code failed " + countIncorrect(answers) + " tests.", "error");
            return
          }
          $.post(solvePath, { code: code, answers: JSON.stringify(answers) }, displayResult);
        }
        else if (typeof data === 'object' && data.error) {
          this.terminate(); $('.ajax-loader').hide();
          console.log('BAD ERROR', data);
          var testCase = testInputs[data.error.testCaseIdx]

          if (testType === 'bdd') {
            var offset = findSpecLineNumber(wrappedCode);
            var cleanStackTrace = MKS.cleanJasmineStackTrace(data.trace.join(' at '), offset);
          }
          else {
            var cleanStackTrace = MKS.cleanStackTrace(data.trace, functionName,
                                  data.error.testCaseIdx, testType).join('<br />');
          }

          $('.content', $stackTrace)
            .empty()
            .append('<p>'+ data.error.name +': '+ data.error.message +'</p>')
            .append('<h4>Stack Trace:</h4>')
            .append(
              $('<ul>').append( cleanStackTrace.map(escapeHTML).map(wrapTag.bind(null,'li')) )
            )
          ;
          $stackTrace.show();
        }
        else if (data.debug) {
          console.log.apply(console, data.debug);
        }
        else if (data.answer !== undefined) {
          if (testType === 'bdd') {
            massageAnswer(wrappedCode, data.answer);
            renderBddResult(data.answer);
          }
          answers.push(data.answer);
        }
      }
    });
  });


  function wrapSpec (testSuite) {
    return '(function(__spec__){' +
      testSuite +
      ";\njasmineEnv.execute()" +
    '})();'
  }

  function countIncorrect (answers) {
    return answers.filter(function(answer) { return answer.status !== "passed" }).length
  }

  var answerTemplate = tmpl.bind( null, $('.template.bdd-result').html() );

  function renderBddResult (answer) {
    $('.bdd-test-results').show().append( answerTemplate(answer) );
  }

  function massageAnswer (code, answer) {
    answer.fullName = answer.fullName.replace('Jasmine__TopLevel__Suite', 'It');

    var specLineOffset = findSpecLineNumber(code);

    answer.failedExpectations.forEach(function(failure) {
      failure.stack = MKS.cleanJasmineStackTrace( failure.stack, specLineOffset );
    });
  }

  function findSpecLineNumber (code) {
    return findIndex(code.split('\n'), function(line) {
      return line.match(/__spec__/);
    })
  }

  function findIndex (array, pred) {
    for (var i=0; i < array.length; i++) {
      if ( pred(array[i]) ) return i;
    }
    return -1;
  }

  function wrapTag (tagName, str) {
    return '<' + tagName + '>' + str + '</' + tagName + '>';
  }

  var challengeRunnerDeps = [
    '//'+ window.location.host +'/js/stacktrace.js',
    '//'+ window.location.host +'/js/chai.js',
  ];

  if (testType === 'bdd') {
    challengeRunnerDeps.push(
      '//'+ window.location.host +'/js/jasmine/jasmine.js',
      '//'+ window.location.host +'/js/jasmine/boot.js'
    );
  }
})();

// Globally define for template
function escapeHTML (str) {
  return str.replace(/</g, "&lt;").replace(/>/g, "&gt;")
}
</script>
<script type="text/javascript">
if (window.jQuery) {
  // TODO: Remove jQuery dependency
  var menu = $('#navigation-menu');
  var menuToggle = $('#js-mobile-menu');
  var signUp = $('.sign-up');

  $(menuToggle).on('click', function(e) {
    e.preventDefault();
    menu.slideToggle(function(){
      if(menu.is(':hidden')) {
        menu.removeAttr('style');
      }
    });
  });

  // underline under the active nav item
  $(".nav .nav-link").click(function() {
    $(".nav .nav-link").each(function() {
      $(this).removeClass("active-nav-item");
    });
    $(this).addClass("active-nav-item");
    $(".nav .more").removeClass("active-nav-item");
  });
}
</script>

</body>
</html>
